<!-- catalog/templates/catalog/templates/language_confirm_delete.html -->

{% block content %}
    <h1>Delete language: {{ language }}</h1>
    {% if language.book_set.all %}
        <p>You can't delete this language until all their books have been deleted:</p>
        <ul>
            {% for book in language.book_set.all %}
                <li><a href="{% url 'book-detail' book.pk %}">{{ book }}</a>({{ language.book_set.all.count }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Are you sure you want to delete the language?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" action="" value="Yes, delete.">
        </form>
    {% endif %}
{% endblock %}